.u1  {
    text-align: center;
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    
}
.u1 li:hover{
    background-color: antiquewhite;
}
span{
    color: #f00606;
}
.btn{background-color: #ff8f3f;
    padding: 10px 15px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;

}
.btn2{
    background-color: rgb(247, 247, 247);
    padding: 10px 15px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

ul li a{
    text-decoration: none;
}
nav{
    background-color: rgb(240, 209, 169);
    margin: 0px;
    padding: 10px;

}

.nav{
    justify-content: space-between;
}

.d{
    display: flex;
    justify-content: space-around;
    margin-block-start: 0%;
}
 ul li {
    list-style: none;
    display:inline;
    
}

.bennar{
    
    margin: 47px 38px 0 230px;
    border: 1px ;
    padding:0px;
     
}
.header{
    border: 40px solid #ffffff ;
}


.div1{
    display: flex;
    justify-content: space-between;
    max-inline-size: 1320px;
    block-size: 300px;
}
img{
    border-radius: 20px;
   align-items: end;
  justify-content: flex-end;
  vertical-align: middle;

}

.name2{
    font-size: 28px;
    font-weight: bold;
}
.header {
background-image: url(/hero-dev-portfolio-resources/images/developer.png), url(/hero-dev-portfolio-resources/images/header_bg.png);
background-repeat: no-repeat;
padding-block-start: 50px;
background-color: #fffcfa;

 background-position: top left,bottom right;
    background-size: 57px, 500px;
}
.about{
    background-color: hsl(26, 100%, 99%);
    padding: 30px 10px;
    border: 80px solid #ffffff;
    margin:30px;
}

.box{
    max-inline-size: 800px;
    margin: auto;
    padding: 20px 30px 2px;
    text-align: center;
    border-radius: 12px;
}
.box2{
   margin: auto;
    padding: 10px 30px 20px 40px;
  
    border-radius: 12px;
}
.A-p{
    max-inline-size: 700px;
    margin: 0 auto 40px;
    line-height: 1.6;

}

.aboutul{
    display: flex;
    justify-content: space-between;

}
.aboutul2{

    display: flex;
    justify-content: space-between;
}
.items{
    flex: 1;
    min-inline-size: 100px;
}
.item1{
    text-align: center;
}

.card ,.fast-skil{
  background-color: hsl(0, 0%, 100%);
    /* padding: 30px 10px; */
    border: 80px solid #ffffff;
    margin:30px;
}


.c-align{
    display: flex;
    justify-content: center;
}

.card1{
     background-color: #ffffff; 
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(158, 153, 153, 0.1);
    
}
.card1:hover{
    background-color: #cfb4b4;
}

.card1 h3{
    color: #180303;
    margin-block-end: 15px;
}

.card1 p{
    color: #333;
}
.c-text{
    text-align: center;
}
.card1 img{
    inline-size: 40px;
    block-size: 40px;
}
.card1{
    
    max-inline-size: 190px;
    box-shadow:0px 3px rgb(145, 146, 148);
 
}
.skil,.skil1,.skil2{
      background-color: hsl(0, 0%, 100%);
    /* padding: 30px 10px; */
    border: 2px solid #ffffff;
    margin:0px,30px,0px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.a{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #ffffff;
    border: 80px solid #ffffff;
} */}
.skil-div{
    max-inline-size: 600px;
    margin: auto;
    /* padding: 20px 30px 2px; */
    border-radius: 2px;
}
.skil-div p{
    font-size: small;
}
.btn3{
    background-color: #ff8f3f;
    padding: 10px 15px;
    border-radius: 2px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.div-b{
    display: flex;
    justify-content: center;
}
.btn3:hover{
    background-color: #e67300;
}
.btn4{
        background-color: #ff8f3f;
    padding: 8px 12px;
    border-radius: 2px;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
.btn4:hover{
    background-color: #e67300;
}
.btn:hover{
    background-color: #e67300;
}
footer{
    background-color:  #FFF8F3;
    border: 60px solid #ffffff;
    margin:20px;
}


.footer{
   
    display: flex;
    margin: 0 auto;
    width: 1140px;
    gap: 117px;
    justify-content: start;
     padding: 130px 0;

}
.icon{
       list-style: none;
    display: flex;
    justify-content: start;
    width: 24px;
    gap: 20px;
}


.last{
    max-width: 300px;
    margin: 20px 0 30px 0;
    padding: 100px;
   
}

.form ul li {
    max-width:100px ;

    display: flex;
    flex-wrap: wrap;
}
.form {
    max-width: 600px;
    margin: 20px 15px 30px 0;
    padding: 100px;
}