nav  ul li {
 
    list-style: none;
    text-align: center;
}
nav ul {
    display: flex;
    justify-content: center;
    gap: 25px;

}

nav  ul li a{
    text-decoration: none;

}

nav{
    background-color: bisque;
    margin-top: 0%;
    padding: 10px;
}

 h2 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
p1{
    display: flex;
    justify-content: center;
}
main{
    max-width: 1320px;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}

.card2{
    margin: 9px solid black;
    background-color: rgb(250, 187, 180);
    padding: 11px;
    box-shadow: inset 0 10px 8px slategray;
      border-radius: 10px;
     
}
.card h3{

    color: brown;
    font-size: .70cm;
    
}

button{ 
    margin: 10px 5px;
    padding:0 15px ;
    background-color: rgb(130, 226, 221);
    border-radius: 10px;


}
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.card3{
    margin: 9px;
    background-color: rgb(250, 187, 180);
    padding: 11px;
    box-shadow: inset 0 10px 8px slategray;
    border-radius: 10px;
    display: flex;
}
.card h3{

    color: brown;
    font-size: .70cm;
    
}
.card4{
    margin: 9px;
    background-color: rgb(250, 187, 180);
    padding: 11px;
    box-shadow: inset 0 10px 8px slategray;
      border-radius: 10px;
}
.card5{
    margin: 9px;
    background-color: rgb(250, 187, 180);
    padding: 11px;
    box-shadow: inset 0 10px 8px slategray;
      border-radius: 10px;
}
.card h3{

    color: brown;
    font-size: .70cm;
    
}

.card6{
    margin: 9px;
    background-color: rgb(250, 187, 180);
    padding: 11px;
    box-shadow: inset 0 10px 8px slategray;
      border-radius: 10px;
}
.card h3{

    color: brown;
    font-size: .70cm;
    
}
.card7{
    margin: 9px;
    background-color: rgb(250, 187, 180);
    padding: 11px;
    box-shadow: inset 0 10px 8px slategray;
      border-radius: 10px;
}
.card h3{

    color: brown;
    font-size: .70cm;
    
}
footer{
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: bisque;
    align-items: center;
    margin: 10px;
}
.p1{
    margin: 10px;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
}
span{
    color: red;
    font-size: 20px;
}
